@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    background-color: #37383C;
}

.nav-link {
    color: #CDD6E0;
}

a {
    color: white;
}

a:hover {
    color: #572EE5;
}


p {
    color: white;
}

.opciones:hover {
    color: #50E3C2;
}


.fa,
.fas {
    color: #CDD6E0;
}

.gifos-text {
    color: #5ED7C6;
}


.search-input {
    border: #FFFFFF solid 1px;
}

.searching .search-input {
    border: transparent;
}


.sugerencias {
    border: white solid 1px;
}

.space-top {
    border-bottom: lightgray solid 1px;
}

.trending-text {
    color: white;
}

.results {
    background: #222326 ;
    padding: 12% 0;
}

.gifo {
    background-color: white;
}

.camera-window {
    border: 2px solid white;
}

.camera-container {
    border: 2px solid #50E3C2;
}

.step-position {
    border: 1px solid white;
}

.step-position.active {
    background: #572EE5;
    color: white;
}

.step-button.active {
    background: transparent;
    border: 1px solid white;
    color: #222326;
}