@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    color: #572EE5;
    border-bottom: 4px solid #572EE5;
    border-top: 4px solid #572EE5;
}

h1, h2 {
	font-family: Montserrat-Bold, sans-serif;
    font-weight: normal;
    letter-spacing: 0;
}

h1 {
    font-size: 2.1em;
    text-align: center;
    margin-bottom: 6%;
}

h3, h4, h5 {
    font-size: 1.8em;
    margin-bottom: 8px;
    text-align: initial;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-bottom: 2%;
}

p {
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	color: black;
}

.logo-desck {
	opacity: 0;
	width: 100%;
}

.logo-mobile {
	z-index: 25;
	position: absolute;
}

.crear {
	width: 20px;
	margin-top: 1%;
}

nav {
    position: absolute;
    width: 100%;
    height: 6vh;
    top: 0;
    padding: 0 6%;
    display: flex;
    align-items: center;
    margin-top: 2%;
    justify-content: space-between;
}

.nav-bar {
	margin-top: 3%;
}

.nav-link {
    color: #CDD6E0;
}

.ham-menu {
    height: 100%;
    font-size: 1em;
    margin-top: 20px;
}

.logo {
    padding: 0 5%;
}

.menu-ul {
    line-height: 100%;
    display: grid;
    align-content: stretch;
}

ul li {
    position: relative;
    padding: 0 10px;
    display: inline-block;
}


a {
    text-decoration: none;
    color: #572EE5;
    font-size: 1.2em;
}

a:hover {
	color: #572EE5;
}

.opciones:hover {
	color:#50E3C2;	
}

#toggle {
    display: none;
}

#toggle:checked~.menu i::before {
    content: '\f00d';
}

#toggle:checked~.main-menu {
    height: auto;
}

.center {
    text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.menu {
    color: black;
}

.main-menu {
	background-color: transparent;
	height: 0px;
    width: 100%;
    overflow: hidden;
    transition: all 0.1s ease-ease;
    -webkit-transition: all 0.1s;
    position: absolute;
    left: 8%;
	margin-top: 8%;
}

.fa, .fas {
    color: #572EE5;
}

.gifos-text {
	color: #50E3C2;
	font-weight: bold;
}

.buscador-section {
	display: flex;
	flex-direction: column;
	padding-left: 9%;
	padding-right: 9%;
	padding-top: 37%;
	padding-bottom: 5%;
	align-items: center;
}


.search-input {
	border: #572EE5 solid 1px;
	border-radius: 15px;
	width: 27em;
	padding-left: 3%;
	height: 2.3em;
	position:relative;
	z-index:5;
	background: transparent;
}


.searching .search-input {
	border: transparent;
}

.buscador {
	display: inline-block;
}

.buscador-img {
	margin-top: 47px;
}

.lupa {
	z-index: 10;
	position: absolute;
	margin-left: -33px;
	margin-top: 5.5px;
}

.sugerencias {
	border: #572EE5 solid 1px;
	height: 7.5vw;
	margin-top: -8.5%;
	border-radius: 15px;
	z-index: 1;
	position: relative;
	width: 30.3vw;
	flex-direction: column;
	display: none;
}

.searching .sugerencias {
	display: flex;
}

.lupa-sugerencias{
	padding: 2% 2%;
}

.space-top{
	width: calc(100% - 30px);
	height: 41px;
	background: transparent;
	position: relative;
	border-bottom: lightgray solid 1px;
	margin-left: 11px;
	margin-right: 5px;
}

.trending {
	padding: 0 4%;
	margin-bottom: 13%;
	height: 9em;
}

.trending-text {
	margin-bottom: 4%;
	color: #572EE5;
}

.results {
	background: #F3F5F8;
	padding: 7% 2%;
}

.carousel {
	display: flex;
	flex-direction: row;
	width: 90%;
    margin: 4% auto;
    align-items: center;
}

.gif {
    background-size: cover;
    padding: 0 2%;
    display: none;
}

.gif.active {
	display: block;
}

.gifs {
	display: flex;
	flex-direction: row;
	width: 100%;
	align-items: center;
}

.seach-results {
	display: grid;
	grid-template-columns: repeat(4, 25%);
	grid-template-rows: repeat(3, 1fr);
	padding: 2% 2%;
}

.gifos-results {
	display: flex;
	flex-direction: column;
}


.gifo {
	margin-left: 2%;
	margin-bottom: 2%;
}

.result {
	width: 100%;
	height: auto;
}

.foto-carrusel {
	width: 100%;
}

.retroceder, .avanzar {
	background: transparent;
	z-index: 2;
	width: 44px;
	height: 44px;
	margin-top: 6%;
}

.footer {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	padding: 4% 6%;
	width: 100%;
}


.socialnets {
	justify-content: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 9%;
}

.contac-icons {
	margin-top: 9%;
}


@media screen and (min-width: 720px) {
    #toggle:checked~.menu i::before {
        content: none;
    }

    .h2 {
        margin-bottom: 20px;
    }

    .crear {
		width: 65%;
		margin-top: 47%;
	}

	.logo-mobile {
		display: none;
	}

	.logo-desck {
		opacity: 1;
	}
    .menu {
        display: none;
    }
    
    .ham-menu {
        height: 100%;
        font-size: larger;
    }
    
    .main-menu {
        background-color: transparent;
        color: black;
        height: 100px;
        display: flex;
        flex-direction: row;
        justify-content: end;
        margin-top: 0;
        position: relative;
    }
    
    .menu-ul {
        line-height: 6vw;
		position: relative;
		text-align: center;
		justify-content: center;
		display: flex;
		align-items: center;
		margin-top: -5%;
    }

    .buscador-section {
    	padding: 0;
	    margin-top: 18%;
	    margin-bottom: 8%;
	}

    ul li {
        position: relative;
        padding: 0 10px;
        display: inline-block;
        margin-inline-end: 0;
        margin-inline-start: 0;
    }

	.trending {
	    padding: 0 7%;
	    margin-bottom: 8%;
	}

	.footer {
	    display: flex;
	    flex-direction: row;
	    justify-content: space-between;
	    padding: 4% 6%;
	}

	.socialnets {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 0;
	}

	.contac-icons {
		margin-top: 0;
	}

    }